/*---RESET---*/

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    width: 100%;
}

/*---FS: FONT-SIZE---*/

.fs_16{
    font-size: 16px;
}

.fs_22{
    font-size: 22px;
}

.fs_26{
    font-size: 26px;
}



/*---FC: FONT-COLOR*/
.fc_black{
    color: black;
}

/*MIN-H: MIN-HEIGHT*/

.min_h-50{
    min-height: 50px;
}

.min_h-100{
    min-height: 100px;
}

.min_h-300{
    min-height: 300px;
}

.min_h-600{
    min-height: 600px;
}
/*MAX-H: MAX-HEIGHT*/

.max_h-30{
    max-height: 30px;
}

.max_h-50{
    max-height: 50px;
}

.max_h-100{
    max-height: 100px;
}

.max_h-125{
    max-height: 125px;
}

.max_h-150{
    max-height: 150px;
}

.max_h-200{
    max-height: 200px;
}

.max_h-300{
    max-height: 300px;
}

.mac_h-450{
    max-height: 450px;
}

.max_h-500{
    max-height: 450px;
}

/*MIN-W: MIN-WIDTH*/

.min_w-50{
    min-width: 50px;
}

.min_w-100{
    min-width: 100px;
}

/*MAX-W: MAX-WIDTH*/

.max_w-30{
    max-width: 30px;
}

.max_w-50{
    max-width: 50px;
}

.max_w-100{
 max-width: 100px;
}

.max_w-125{
    max-width: 125px;
}

.max_w-150{
    max-width: 150px;
}

.max_w-200{
    max-width: 200px;
}

.max_w-300{
    max-width: 300px;
}

.max_w-350{
    max-width: 350px;
}

.max_w-400{
    max-width: 400px; 
}

.max_w-600{
    max-width: 600px;
}
/*---BR: BORDER RADIUS*/

.br_15{
    border-radius: 99999px;
}

#returnal{
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#takestwo{
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Thumb section*/

.game-thumb{
    border-radius: 15px;
    overflow: hidden;
    border: 4px solid transparent;
    transition: all 0.1s ease-in-out;
}

.game-thumb.active, .game-thumb:hover{
    border: 4px solid var(--bs-blue);
    box-shadow: inset 0 0 2px white;
    outline: 4px solid white;
    outline-offset: -8px;
}

.game-thumb:hover{
    transform: translateY(-15px);
}

/*---OP: OPACITY---*/

.op_75{
    opacity: 0.7;
}

#shop_item.active{
    opacity: 1;
    border-bottom: 3px solid blue;
}

#shop_item:hover{
    opacity: 1;
    border-bottom: 3px solid blue;
    transition: all 0.1s ease-in-out;
    transform: translateY(-15px);
}

.play_cover{
    border-radius: 15px;
}

#ps-plus_banner{
}

#ps_plus{
    background-color: #BEBCBB;
}

/*---BG: BACKGROUND-COLOR---*/

.bg_ps{

    background-color: #161C3B;
}

.white_c{
    color: white;    
}

.social:hover{
    transition: all 0.1s ease-in-out;
    transform: translateY(-15px);
}

/*---NAVBAR---*/
